<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}Met Coding{% endblock %}-Met Coding</title>
<link rel="stylesheet" href="{{ asset('static/blog/css/normalize.css') }}">
<link rel="stylesheet" href="{{ asset('static/blog/css/style.css') }}">
{% block stylesheets %}{% endblock %}
</head>
<body>
<div class="header">
    <div class="container clearfix">
        <div class="logo"><a href="{{ path('index') }}"><img src="{{ asset('static/blog/img/logo.png') }}" alt="Met Coding"></a></div>
        <div class="nav">
            <ul class="clearfix">
                <li class="menu">
                    <a href="{{ path('blog') }}.html">博客 <svg class="icon" aria-hidden="true"><use xlink:href="#icon-xiajiantou"></use></svg></a>
                    <ul>
                        <li class="menu-a">
                            <span class="arrow">&gt;</span>
                            <a href="#">服务端</a>
                            <ul>
                                <li><a href="#">PHP</a></li>
                                <li><a href="#">Go</a></li>
                                <li><a href="#">Python</a></li>
                                <li class="menu-b">
                                    <span class="arrow">&gt;</span>
                                    <a href="#">框架</a>
                                    <ul>
                                        <li><a href="#">Symfony</a></li>
                                        <li><a href="#">Laravel</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-a">
                            <span class="arrow">&gt;</span>
                            <a href="#">前端</a>
                            <ul>
                                <li><a href="#">Html(5)</a></li>
                                <li><a href="#">CSS(3)</a></li>
                                <li class="menu-b">
                                    <span class="arrow">&gt;</span>
                                    <a href="#">框架</a>
                                    <ul>
                                        <li><a href="#">Vue</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-a">
                            <span class="arrow">&gt;</span>
                            <a href="#">数据库</a>
                            <ul>
                                <li><a href="#">MySQL</a></li>
                                <li><a href="#">MongoDB</a></li>
                            </ul>
                        </li>
                        <li class="menu-a">
                            <span class="arrow">&gt;</span>
                            <a href="#">大数据</a>
                            <ul>
                                <li><a href="#">Hadoop</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="menu"><a href="#">教程</a></li>
                <li class="menu"><a href="#">问答</a></li>
                <li class="menu"><a href="#">教程</a></li>
                <div class="clear"></div>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>
{% block main %}{% endblock %}
<div class="footer">
    Copyright © 2017 MetCoding. 当前呈现版本 17.10.19
    <br>
    鲁ICP备 13028626号-1
</div>
<script src="{{ asset('static/plus/iconfont/iconfont.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
