{% extends 'blog/base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('static/blog/css/detail.css') }}">
<link rel="stylesheet" href="{{ asset('static/blog/css/component.css') }}">
<link rel="stylesheet" href="{{ asset('static/plus/prism/prism.css') }}">
{% endblock %}

{% block main %}
<div class="container clearfix" style="margin: 15px auto;">
    <div class="article">
        <h1 class="title">{{ data.title }}</h1>
        <div class="attribute">
            <span style="float: right;">{{ data.views }}</span>
            <span>{{ data.mtime|date('Y-m-d H:i:s') }}</span>&nbsp;&nbsp;&nbsp;&nbsp;
            <span>标签: <span class="green-a">ORM PHP</span></span>
        </div>
        <div class="content">
            <p class="summary">{{ data.excerpt }}</p>
            {% if data.type == 1 %}
                {{ include(data.id~'.html.twig') }}
            {% else %}
                {{ data.content }}
            {% endif %}
        </div>
    </div>
    <div class="aside">
        {{ render(url('blog_detail_link_001')) }}
        {{ render(url('blog_detail_about_article')) }}
    </div>
    <div class="clear"></div>
</div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('static/plus/prism/prism.js') }}"></script>
{% endblock %}